<% var className = className %>
<footer class="Footer <%= className %>">
  <p class="Footer-copyright"><small>&copy; <%= new Date().getFullYear() %> Belza Digital &bullet; <a href="http://belza.digital/impressum" class="Footer-legal">Impressum</a> &bullet; <a href="https://www.facebook.com/gedankenspende/" target="_blank" rel="noopener noreferrer" class="Footer-fb"><img src="/fb-logo.svg" width="14" height="14" class="Footer-fbLogo" alt="Facebook Logo" /> Facebook Seite</a></small></p>
</footer>
