<!DOCTYPE html>
<html lang="de">
  <head>
    <%- include('_meta.html.ejs') -%>
    <%- include('_favicon.html.ejs') -%>
    <title>ged@nkenspen.de - Spende einen Gedanken! - direkt, anonym, ohne Anmeldung</title>
    <meta name="description" content="Spende hier völlig anonym deine Gedanken - ohne Anmeldung sofort kurze Nachrichten veröffentlichen" />
    <meta name="keywords" content="ged@nkenspen.de,gedankenspende,spenden,gedanken,direkt,anonym,ohne Anmeldung,texte,nachrichten,veröffentlichen,öffentlich" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body id="app">
    <div id="google_translate_element"></div>
    <main class="Content">
      <header class="Header">
        <a href="mailto:ged@nkenspen.de?subject=Mein Feedback&body=Hallo%2C%0A%0Ahier%20mein%20Feedback%3A%0A%0A%0AViele%20Grüße" class="Header-logo" title="Feedback per E-Mail schreiben" id="feedbackLink">
          <%- include("_gedankenspende-logo.svg.ejs") -%>
        </a>
      </header>

      <h1 class="Content-headline">Spende einen Gedanken! <small>&mdash; direkt, anonym, ohne Anmeldung</small></h1>
      <form class="Content-form" id="contentForm">
        <p>
          <label class="Content-label" for="titleInput">Dein Gedanke</label>
          <input type="text" placeholder="Hier anonym schreiben ..." name="title" class="Content-input" minlength="1" maxlength="256" size="80" id="titleInput" required autofocus />
          <button class="Content-submit"><span>Senden</span><i>➔</i></button>
          <span class="Content-counter" id="titleCounter"></span>
        </p>
      </form>

      <section class="Content-thoughts Thoughts">
        <h2 class="Thoughts-headline">Die letzten <span id="thoughtsCount"></span> Gedanken</h2>
        <div class="Thoughts-list" id="thoughtsList">
          <span class="Thoughts-loading" id="thoughtsLoading">werden geladen ...</span>
        </div>
      </section>
    </main>
    <%- include('_footer.html.ejs') -%>
    <script src="/app.min.js"></script>
    <%- include('_ga.html.ejs', { trackingCode: 'UA-29140063-3' }) -%>
    <%- include('_google-translate.html.ejs', { trackingCode: 'UA-29140063-3' }) -%>
    <!--! BUILD_DATE: <%= new Date().toISOString() %> | T) <3 (heidy) -->
  </body>
</html>
