@import '../variables.css';

/** @define Content */

.Content {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 42rem;
  padding: 0 1.5rem;
  overflow-y: auto;

  &-headline {
    margin-bottom: 1rem;

    @media (--medium-viewport) {
      display: none;
    }
  }

  &-form {
    position: relative;
  }

  &-label {
    color: var(--text-color);

    @media (--medium-viewport) {
      color: var(--brand-color);
    }
  }

  &-input {
    border: none;
    border-bottom: 1px solid var(--muted-color);
    font-size: 1.8rem;
    outline: none;
    padding: .3rem 5rem .3rem 0;
    width: 100%;

    @media (--small-viewport) {
      padding-right: 2.5rem;
    }

    &::placeholder {
      color: var(--muted-color);
      font-weight: lighter;
    }
  }

  &-counter {
    background-color: var(--brand-color);
    display: block;
    height: 0.2rem;
    position: absolute;
    width: 0;
  }

  &-submit {
    background: var(--brand-color);
    border: none;
    border-radius: .2rem;
    color: white;
    content: "ENTER";
    display: block;
    font-size: small;
    padding: .3rem .6rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    bottom: .5rem;
    transition: background-color 0.5s;

    /* TODO: refactor */
    /* postcss-bem-linter: ignore */
    & i {
      display: none;
    }

    @media (--small-viewport) {

      /* TODO: refactor */
      /* postcss-bem-linter: ignore */
      & i {
        display: inline;
        font-style: normal;
      }

      /* TODO: refactor */
      /* postcss-bem-linter: ignore */
      & span {
        display: none;
      }
    }
  }

  &-input:invalid + &-submit {
    background: color(var(--muted-color) tint(40%));
    outline: none;
  }

  &-input:valid + &-submit:hover {
    background: color(var(--brand-color) shade(10%));
    cursor: pointer;
  }
}
