@import '../variables.css';

/** @define Footer */

.Footer {
  background: color(var(--brand-color) tint(85%));
  color: var(--brand-color);
  padding: .5rem 1rem .5rem 1rem;
  align-self: stretch;
  text-align: center;

  &-fb {
    white-space: nowrap;
  }

  &-fbLogo {
    vertical-align: text-top;
  }

  @media (--small-viewport) {
    &-copyright {
      float: none;
    }

    &-legal {
      white-space: nowrap;
    }
  }
}
