@import '../variables.css';

/** @define SupportBox */

.SupportBox {
  color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 6px;
  padding: 10px 14px;

  &-footer {
    font-size: 80%;
    margin: 7px 0 -1px;
  }
}

