/** @define Thoughts */

.Thoughts {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &-headline {
    margin: 2rem 0 1rem 0;
  }

  &-item {
    margin-bottom: 0.75rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &-loading {
    display: none;

    &:first-child:last-child {
      display: inline;
    }
  }
}
