@import '../variables.css';

/** @define Thought */

.Thought {

  &-at {
    display: block;
    color: var(--muted-color);
    font-size: small;
  }

  &-humanDate,
  &:hover time[datetime] {
    display: none;
  }

  &:hover &-humanDate {
    display: inline;
  }
}
