html {
  color: var(--text-color);
  background-color: white;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;

  @media (--small-viewport) {
    font-size: 88%;
  }
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

a {
  color: var(--brand-color);
  text-decoration: none;
  transition: filter 1s;

  &:hover {
    text-decoration: underline;
    filter: hue-rotate(360deg);
  }
}

input {
  background-color: inherit;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  margin: 0;

  &:invalid {
    box-shadow: none;
  }
}

h1, h2, p, ul, li, figure, figcaption {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 80%;
}

h1, h2 {
  color: var(--brand-color);
  font-weight: normal;

  & > small {
    color: var(--muted-color);
  }
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

cite {
  font-variant: small-caps;
  font-style: normal;

  &::before {
    content: ' — ';
  }
}

#google_translate_element {
  text-align: center;
  background: #efefef;
  overflow-x: hidden;
  width: 100%;
  min-height: 28px;
}
