:root {
  --text-color: #444;
  --muted-color: color(var(--text-color) tint(55%));
  --brand-color: color(#81abc9 shade(10%));
}

@custom-media --small-viewport (max-width: 640px);
@custom-media --medium-viewport (max-width: 800px);
